// index----start-----
.banner{
    background-image: url(../img/index/banner.png);
    height:840px;
    background-repeat: no-repeat;
    background-position:50%;
    color:$primary-dark-color;
    position: relative;
   
    .bannerText{
      text-align: right;
      position: absolute;
      top:40%;
      right:15%;
      h4{
          font-size: 36px;
          line-height: 50px;
      }
      h2{
          font-weight: bold;
      }
    }  
}
@include pad() {
   .banner{
       .bannerText{
            right:10%;
            h4{
                font-size: 20px;
                line-height: 30px;
            } 
            h2{
                font-size: 47px;
                line-height: 67px;
            } 
       }
   }
}
@include pad() {
    .banner{
        
     
        .bannerText{
            h4{
                font-size: 16px;
                line-height: 22px;
            } 
            h2{
                font-size: 32px;
                line-height: 45px;
            } 
       }
    }
}

@include mobile(){
    .banner{
        background-position:0%;
        background-image: url(../img/index/banner-sm.png);
    }
}


.intro{
    background-color:$third-color;
    padding:64px 0;
    h3{
        color:$primary-dark-color;
        text-align:center;
        margin-bottom: 60px;
        }   
    ul{
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
    }
    li{
       display: flex;
       flex-direction: column;
       align-items: center;
       width:19.5%;
       
      
        h5{
            color:$primary-dark-color;
            margin-bottom: 4px; 
            font-weight: bold;
        } 
        .introImage{
            height:100px;
            display: flex;
            align-items: center;
            margin-bottom: 40px;
        }
      
    }
   
}
@include pad() {
    .intro{
        h3{
            margin-bottom: 32px;
        }
        ul{
            justify-content: space-around;
            
        }
        li{
            width:40%;
            margin-bottom: 40px;
            h5{
                font-size: 25px;
                line-height: 30px;
                margin-bottom: 8px; 
            }
        }
    }
}

@include mobile() {
    .intro{
        h3{
            margin-bottom: 20px;
        }
        li{
            
            width:80%;
            h5{
                font-size: 20px;
                line-height: 28px;
            }
            
        }
    }
}




.glasses{
    padding:64px 0px;
    h3{
        color:$primary-dark-color;
        text-align:center;  
        font-weight: bold;
        margin-bottom: 60px;
    }
    li{
        display: flex;
        align-items: center;
        margin-bottom: 32px;
      
        >img{
            margin-right: 30px; 
            width:60%;     
        }    
        a{
            display: flex;
            text-decoration: none;
            padding:60px 0;
            img{
                margin-right: 8px;
                
            }
            h4{
                font-size:48px;
                font-weight: bold;
                color:$primary-color;
                font-style: italic;
                
            }
            &:hover{
                transition: 0.3s;
                transform: scale(1.04);
            }
        }
       
    }
    li:nth-child(2)
    {
        flex-direction: row-reverse;
        >img{
            margin-right: 0px;
            margin-left: 30px;
        }
        h4{
            margin-right: 8px;  
        }
    }
    
}

@include pad() {
.glasses{   
    h3{
        margin-bottom: 32px;
    }
    li{
        margin-bottom: 8px;
        a{
            img{
               width:33px; 
            }
            h4{
                font-size:28px;  
                line-height: 33px;
            }
        }
    }
   
    li:nth-child(2)
    {
        flex-direction: row;
        >img{
            margin-right: 30px;
            margin-left: 0px;
        }
        h4{
            margin-right: 0px;
            
        }
    }
}
}

.glasses_mobile{
        display: none;
        padding:32px 0;
        h3{
            color:$primary-dark-color;
            text-align:center;  
            font-weight: bold;
            margin-bottom: 20px;
    
        }
       li{
           position: relative;
           margin-bottom: 8px;
           a{
            position: absolute;
            top:30%;
            left:15%;
            display: flex;
            font-weight: bold;
            font-style: italic;
            align-items: center;
            text-decoration: none;
            color:white;
            img{
                margin-right: 8px;
                
                }
            &:hover{
                transition: 0.3s;
                transform: scale(1.04);
            }
            }
            &:first-child{
                a{
                   
                    left:30%; 
                }
            }
            
       }
            
        
        
}
@include mobile() {
    .glasses{
        display: none;
    }
    .glasses_mobile{
        display: block;
    }
    
}

.jointname{
    background-image: url(../img/index/bg.png);
    padding:64px 0 80px 0;

    
    
    h3{
        text-align: center;
        color: white;
        margin-bottom: 60px;
    }
    ul{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li{
            width:48%;
            position: relative;
            background-color: white;
          
            img{
                width:100%;
                opacity: 0.5;
                
                
            }
            h4{
                text-align: center;
                position: absolute;
                font-weight: bold;
                color:$primary-color;
                font-size:72px;
                line-height: 85px;
            }
            &:first-child{
                h4{               
                    top:40%;
                    left:20%;
    
                }
            }
            &:last-child{
                h4{
                   
                    top:40%;
                    left:25%;
                  
                }
            }
            &:hover{
                img{
                    opacity: 1;
                }
            }
        }
        
        
    
    }
}

@include pad() {
    .jointname{ 

        h3{
            margin-bottom: 32px;
        }
        ul{
            li{
                h4{
                    font-size:32px;
                    line-height: 38px;
                } 
                &:first-child{
                    h4{               
                        top:42%;
                        left:30%;
        
                    }
                }
                &:last-child{
                    h4{
                       
                        top:42%;
                        left:35%;
                      
                    }
                }  
             }
        
    } 
    }
}

@include mobile() {
    .jointname{
        padding:32px 0;

        
        h3{
            margin-bottom: 20px;
        }
        ul{
            li{
                width:100%;
                margin-bottom: 8px;
                img{
                    width:100%;
                }
            }
        
    }
}
}



.recommend{
    padding:64px 0px;
    h3{
        color:$primary-dark-color;
        text-align:center;  
        font-weight: bold;
        margin-bottom: 60px;
    }
    ul{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    li{
        border:1px solid #DEE2E6;
        width:23%;  
       
        img{
            width:100%;
        }
    }
    .recommendText{
        padding: 16px;
        h6{
            margin-bottom: 8px;
            font-weight: bold;
        }
        p{
            margin-bottom: 12px;
        }
        span{
            color: #707070;
        }
    }
    
}


@include pad() {
    .recommend{
        h3{
            margin-bottom: 32px;
        }
       
        li{
            margin-bottom: 28px;
            width:45%;
        }
    }

}

@include mobile() {
    .recommend{
        h3{
            margin-bottom: 20px;
        }
        li{
            width: 100%;
            margin-bottom: 16px;
        }
    }
}


.contactForm{
    background-color: #AA06010D;
    padding: 64px 0;
    .container{
        max-width: 730px;
    }
    p{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    h3{
        color:$primary-dark-color;
        text-align:center;  
        font-weight: bold;
        margin-bottom: 24px;
    }
    form{
        display: flex;
        flex-direction: column;
        label{
            margin-bottom: 4px;
            text-align: left;
        }
        // 避免影響到checkbox
        >input{
            border: 1px solid black;
            margin-bottom: 16px;  
            padding:14px 16px;      
        }
        textarea{
            resize: none;
            margin-bottom: 16px; 
            padding:14px 16px;   
            border: 1px solid black; 
        }
       .checkbox{
           margin-bottom: 42px;
       }
        .submit{
            display: flex;
            justify-content: center;
            input[type=submit]{
                height:50px;
                width:50%;
                color:white;
                background-color: $primary-color;
                border:none;
                &:hover{
                    background-color: $primary-dark-color; 
                }
            }

        }
       
    }

}


@include pad() {
    .contactForm{

        .container{
            max-width: 450px;
        }
        h3{
            margin-bottom: 16px;
        }
        form{
                label{
                    font-size: 14px;
                    line-height: 20px;
        }
        
    }
    }
}


@include mobile() {
    .contactForm{
        padding: 32px 15px;
        .container{
                h3{
                    margin-bottom: 20px;
                }
        }
        form{
            >input{
                width:90%;
            }
            textarea{
                width:90%;
            }
        }
    }
}
// index----end-----