// layout----start-----

body{
    font-family: "Roboto","Noto Sans",sans-serif;
}
.container{
    max-width: 1110px;
    margin:0 auto;
    h2{
        font-size:64px;
        line-height: 96px;
    }
    // 標題都用h3
    h3{
        font-size:48px;
        line-height: 67px;
        font-weight: bold;
    }
    h4{
        font-size:36px;
        line-height: 54px;
    }
    h5{
        font-size:24px;
        line-height: 33px;
    }
    h6{
        font-size:14px;
        line-height: 16px;
    }
    p{
        line-height: 24px;
    }
}
@include pad() {
    .container{
        max-width: 690px;
        h3{
            font-size:32px;
            line-height: 48px;
        }
    }
}
@include mobile() {
    .container{
        max-width: 345px;
        h3{
            font-size:24px;
            line-height: 33px;
        }
    }
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
// header----start-----
.header{
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 88px;
    .header_menu{
        display: none;
    }
    h1{
        background-image: url(../img/layout/logo.png);
        width: 80px; 
        height: 48.75px;
        text-indent: 101%;
        white-space: nowrap;
        overflow: hidden;
    }
    ul{
        display: flex;
        li{
            margin-left: 64px;
            a{
                color:white;
                text-decoration: none;
                display:block;
                padding:10px 0;
                font-size:20px;
                line-height:28px;
                border-bottom:1px solid transparent;
                &:hover{
                    border-bottom:1px solid white;
                }
            }
        }
       
    }  
}
@include pad() {
.header{
    padding:30px 30px;
       
        li{
            margin-left: 40px; 
        }
    }   
}

@include mobile() {
    .header{
        justify-content: center;
        position: relative;
       
        .header_menu{
            display: block;
            position: absolute;
            top:35px;
            left:30px;
        }
        .header_logo{
            
            h1{
                width: 48px; 
                height: 29.14px;
                background-size: 100%;
            }
        }
        ul{
            display: none;
        }
    }
}
//漢堡選單
.header_mobile{
    position: absolute;
    width:100%;
    top:0;
    left:0;
    z-index:1;
    display: none;

}
.header_mobile_nav{
  li{
      width:100%;
      text-align: center;
      border:1px solid white;
      a{
        display: block;    
        padding: 16px 0; 
        color:white;
        text-decoration: none;
        background-color: $primary-color;
        &:hover{
            background-color: $primary-dark-color;
        }
      }
  }
  

}
@include mobile(){
    .show{
        display: block;
    }
   
}
// header----end-----
// footer----start-----


.footer{
    background-color:$primary-color;
    padding:40px 20px;
    color:white;
}
.footer_contact{
    display: flex;
    justify-content: space-between;
}
.contactInfo{
    display: flex;
    flex-direction: column;
        li{
            display: flex;
            align-items: center;
            margin-bottom: 19px;
                
            a{
                display: flex;
                color:white;
                text-decoration: none; 
                font-size:36px;
                line-height: 42px;
                border-bottom:1px solid transparent;
                img{
                    margin-right: 12px;
                }
                &:hover{ 
                    color:#650300;
                } 
            }
        }
            
}
.contactNav{
        display: flex;
        margin-bottom: 37px;
        li{
            margin-right: 48px;
            a{
                color:white;
                text-decoration: none;
                display:block;
                padding:10px 0;
                font-size:16px;
                line-height:22px;
                border-bottom:1px solid transparent;
                &:hover{
                        border-bottom:1px solid white;
                }
            }
        }
}
    
.social{
        display: flex;
        li{
            margin-left: 48px;
            img:hover{
                    transform: scale(1.2);
            }
        }
}
            
    

    
.copyright{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid white;
        padding-top:26px;
        .copyrightEng{
            display: flex;
            align-items: center;
            img{
                margin-right: 38px;
            } 
        }
        .copyrightText{
            display: flex;
            a{
                color:white;
                text-decoration: none; 
                margin-left: 62px; 
                padding:10px 0;
                &:hover{
                    border-bottom:1px solid white;
                }
            }
        }
        .footer_logo_mobile{
            display: none;
        }
}
    


@include pad() {
            .contactInfo{
                li{
                    a{
                        font-size:20px;
                        line-height: 24px;               
                    }
                    img{
                        width:24px;
                    }
                 }
            }
        
        
        .social{
                margin-top: 10px;          
            li{
                margin-left: 24px;
                img{
                    width:24px;
                }            
               
            }
            
        } 
    
        .copyright{
            .copyrightEng{
                    a{
                        display:none;
                    }
                  
                }
            .footer_logo_mobile{
                display: none;
            }     
        }  
           
    

}
@include mobile{

                .contactNav{
                    display: none;
                 }
                .social{
                    margin-top: 0;
                }
                .contactInfo{
                    li{
                        a{
                            font-size:16px;
                            line-height: 19px;               
                        }
                        img{
                            width:20px;
                        }
                     }
                }
        

            .copyright{
                flex-direction: column;
                align-items: flex-start;
                font-size: 14px;
                line-height: 16px;
                position: relative;
                .copyrightEng{
                    p{
                        margin-bottom: 8px;
                    }
                }
                .copyrightText{
                    flex-direction: column;
                    li{
                        margin-bottom: 8px;
                    }
                    a{
                        margin-left: 0px; 
                    }
                }
                .footer_logo_mobile{
                    display: block;
                    position: absolute;
                    top:60px;
                    right:0;
                }
            }
        
    
}
// footer----end-----
// layout----end-----