// blog--all--start-----
.blogMenu{
    background-color: $primary-dark-color; 
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav{
        display: flex;
        justify-content: center;
        li{
            margin-right: 48px;
        }
        a{
            display: block;
            text-decoration: none;
            color:white;
            padding:12px 0;
            &:hover{
                background-color: $primary-color;
            }
        }
    }
}
@include mobile{
    .mobileHide{
        display: none;
    }
    .blogMenu{
        .nav{
            li{
                margin: 0 6px;
            }
            a{
                padding:24px 0;
            }
     }
    }
}
// blog--all--end-----
// blog--list--start-----
.blogList{
    padding: 82px 0 50px 0;
    li{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 60px;
        >a{
            margin-right: 30px;
            width: 60%;
            height:60%;
            img:hover{
                outline: 4px solid $primary-dark-color;
            }
        }
    }  
}
.blogListText{
    position: relative;
    width: 50%;
    a{
        text-decoration: none;
        
    }
    h4{
        font-size: 32px;
        line-height: 45px;
        color: $primary-dark-color;
        &:hover{
            color:$primary-color;
        }
        
    }
    .more{
       font-weight: bold;
       font-size: 36px; 
       line-height: 42px;
       position: absolute; 
       color:$primary-dark-color;
       bottom:0;
       right:0;
       &:hover{
           text-decoration: underline;
       }
    }
    p{
        font-size: 20px;
        line-height: 30px;
        a{
            display: none;
            font-weight: bold;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    
    .info{
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        span{
            &:first-child{
                font-weight: bold;    
            }
        }
    }
   
}


@include pad(){
.blogList{
    padding: 40px 0 80px 0;
    li{
        margin-bottom: 32px;
        
    }
}

.blogListText{
    p{
        font-size: 14px;
        line-height: 21px;
        a{
            display: inline;
            color:#555555;
            font-size: 14px;
            line-height: 21px;
        }
    }
    .more{
        display: none;
    }
    
}
}

@include mobile(){
  
    .blogList{
        padding: 24px 0 10px 0;
        li{
           margin-bottom: 0;
            flex-direction: column;
            >a{
                width: 100%;
                margin-right: 0;
            }
           }
       
    }

    .blogListText{
        width: 100%;
        p{
            display: none;
            span{
                display: none;
            }
        }
        
    }
}
// blog--list--end-----
// blog--content--start-----

.contentMenu{
    display: flex;
    margin: 10px 0;
    
    a{
        text-decoration: none;
        color: black;
        padding: 0 4px;
        &:hover{
            text-decoration: underline;
        }
        
    }
    li:first-child{
        a{
        padding:0;
        }
    }
    .active{
        color:$primary-color;
    }
}

.content{
    display: flex;
    justify-content: space-between;
}
.contentText{
    width:76%;
    .contentInfo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
        h3{
            font-size: 28px;
            line-height: 33px;
            
        }
    }
    >a{
        color:$primary-color;
        font-size:24px;
        line-height:28px ;
        font-weight: bold;
        text-decoration: none;
        &:hover{
            color:$primary-dark-color;
        }
    }
    h2{
        font-size: 48px;
        line-height: 67px;
        margin-bottom: 8px;
    }
    
    >img{
        margin-bottom: 24px;
    }
    p{
        color:#0A0A0A;
        margin-bottom: 36px;
    }


}
.contentShare{
    width:76%;
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid #000;
    span{
        margin-right: 19px;
        font-weight: bold;
    }
    img{
        margin-right: 16px;
        border-bottom: 2px solid transparent;
        &:hover{
            border-bottom: 2px solid $primary-color;
        }
    }
}

.contentOther{
    width:76%;
    display: flex;
    justify-content: space-between;
    margin:24px 0 304px 0;
   
    a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color:black;
        &:hover{
            color:$primary-dark-color;
            font-weight: bold;
        }
        &:first-child img{
            margin-right: 8px;
        }
        &:last-child img{
            margin-left: 8px;
        }
    }
}

.contentTags{
    
    width:21%;
    color:$primary-color;
    font-weight: bold;
    h4{
        
        display: flex;
        margin-bottom: 15px;
    }
   a{
       display: inline-block;
        font-size: 24px;
        line-height: 36px;
        margin-right: 24px;
        margin-bottom: 12px;
        text-decoration: none;
        color:$primary-color;
        &:hover{
            color:$primary-dark-color;
        }
    }
    
}
.foot{
    display: none;
}

@include pad(){
    .contentText{
        >a{
            font-size:16px;
            line-height:19px;
        }
        h2{
            font-size: 32px;
            line-height: 45px;
        }
        .contentInfo{
            h3,span{
                font-size: 16px;
                line-height: 19px;
                
            }
        }
    }
    .contentShare,.contentOther{
        width:100%;
    }

    .contentTags{
        h4{
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 8px;
            img{
                width:24px;
            }
            
        }
        a{
            font-size: 16px;
            line-height: 19px;
            margin-right: 16px;
            margin-bottom: 2px;

        }
    }
}
@include mobile(){
    .side{
        display: none;
    }
    .foot{
        display: block;
    }
    .contentText{
        width:100%;
        h2{
            font-size: 20px;
            line-height: 28px;
            color:$primary-dark-color;
        }
        .contentInfo{
            h3,span{
                font-size: 14px;
                line-height: 16px;
                
            }
        }
    }
  
    .contentOther{
        flex-direction: column;
        margin-bottom: 40px;
        a{
            margin-bottom: 8px;
            &:last-child{
                justify-content: flex-end;
                flex-direction:row-reverse;
               
                img{
                    margin-left: 0;
                }
                
            }
        }
       
    }
    .contentTags{
        width:100%;
        margin-bottom: 56px;
        a{
            margin-right: 8px;
        }
    }
    
}



// blog--content--end-----