.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 68px 80px 80px;

    h2 {
        font-size: $font-l;
        color: $secondary-color;
    }
}

.invoice {
    display: flex;
    flex-direction: column;
    background: $primary-color;
    width: 58%;
    &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px 40px 30px 40px;

        .line {
            // display:inline-block;
            width: 67px;
            height: 1px;
            background: $secondary-color;
        }

        span {
            color: $secondary-color;
            margin: 0 -2px 0 -2px;
        }

        .progress {
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }

    &-option {
        margin: 0px 40px 30px 40px;
        display: flex;

        li {
            width: 100%;
            border: 1px solid $secondary-color;
            
        }

        a {
            display: block;
            text-align: center;
            font-size: $font-sm;
            padding: 14px 0 14px 0px;
            color: $secondary-color;
            
            &:hover {
                
                text-decoration: underline;
            }
            &.checked{
                background-color: $secondary-color;
                color: $primary-color;
                
            }
        }
       
    }

    &-form {
        margin: 0px 40px 0 40px;

        li {
            display: flex;
            flex-direction: column;
            position: relative;
        }

        label {
            margin-bottom: 8px;
            font-size: $font-sm;
            color: $secondary-color;
        }

        input {
            margin-bottom: 16px;
            padding: 17px 20px 17px 20px;
            background: $secondary-color;
            border: none;
            
        }
        span{
           
            color: $primary-color;
            &:hover{
                color:$third-color;
            }
       }
       
        &-credit,&-deadline,&-backnumber{
           
            display: flex;
            justify-content: space-between;       
            input{
             
                width:36%;
            }      
        }
        &-deadline{
            position: relative;
            .montharrowup{
                position: absolute;
                top:8px;
                left:130px;
            }
            .montharrowdown{
                position: absolute;
                top:16px;
                left:130px;
            }
            .yeararrowup{
                position: absolute;
                top:8px;
                right:22px;
                
            }
            .yeararrowdown{
                position: absolute;
                top:16px;
                right:22px;
            }
        }

            
        }
        li:nth-child(1){
            position: relative;
           span{
            position: absolute;
            top:50px;
            right:22px;
           } 
        }
       
       
    

    [type="submit"] {
        margin-top: 14px;
        border: none;
        background: #FFE180;
        color: $primary-color;
        padding: 19px 0 13px 0px;
        font-size: $font-m;
        width: 100%;

        &:hover {
            background: #fcd556;
        }
    }

}

.order {
    border: 1px solid $secondary-color;
    width: 40%;
    color: $third-color;

    &-sum {
        h3 {
            font-size: $font-m;
            padding: 16px 0 16px 0;
            text-align: center;
            width: 100%;
            background: $secondary-color;
            font-weight: bold;
        }

        ul {
            padding: 16px 20px 16px 20px;

        }

        li {
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;

            &:nth-child(3) {
                font-size: $font-sm;
                font-weight: bold;
                margin-top: 16px;
            }
        }

    }

    &-list {
        h3 {
            font-size: $font-m;
            padding: 16px 0 16px 0;
            text-align: center;
            width: 100%;
            background: $secondary-color;
            font-weight: bold;
        }

        ul {
            padding: 16px 16px 0 16px;
        }

        li {
            display: flex;
            align-items: center;
            margin-bottom: 16px;
        }

        img {
            width: 120px;
        }

        .text {
            margin-left: 20px;
          

            h4 {
                font-size: $font-s;
                margin-bottom: 2px;
            }

            span {
                font-size: $font-sm;
            }
        }

        li:nth-child(1),
        li:nth-child(2) {
            overflow: hidden;

            img {
                margin: -40px 0 -40px 0;
            }
        }
    }

}

/*-------------checkout RWD-------------*/

@include pad() {

    .invoice-form {
        margin: 0px 20px 0 20px;
    }
    
   
}
@include mobile() {
    .order {
        display: none;   

    }
    .content{
        padding:0px;
    }


    .invoice {
        width: 100%;
        &-form {
            margin: 0px 30px 0 30px;
        }
    }
}
