 /*-------------tag setting-------------*/
a {
  text-decoration: none;
}
img{
    display:block;
    max-width:100%;
    height:auto;
  }
body {
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 ,p{
    line-height: 1.2;
}

/*-------------class setting-------------*/
.container{
      max-width: 940px;
      margin:0 auto;
  }
/*-------------header setting-------------*/
.navimg {
  display: none;
  border: none;
  background: transparent;
}
 .logo{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logo-all-dark.svg);
    display: block;
    width: 300px;
    height: 55.78px;
    text-indent: 101%; 
    overflow: hidden;
    white-space: nowrap;
    background-size: contain;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-top: 30px;
    position: relative;
    .active {
      max-height: 200px;
    }

    &-nav {
      display: flex;
      align-items: center;
      max-height: 0px;
    }

    &-collapse {
      display: flex;
      align-items: center;
    }
    &-cart{
      padding: 30px 0 30px 30px;
      &:hover{
        opacity: 0.7;
      }
    }

   
  }
 

.nav-item:hover {
  border-bottom: 4px solid $primary-color;
}
.nav-link {
      color: $primary-color;
      font-weight: bold;
      padding: 30px;
      display: block;
    }
    
  /*-------------header RWD-------------*/

@include pad(){
  .navbar{
    padding: 0px 20px 0px 20px;
    &-nav {
      flex-direction: column;
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      transition: all 1.1s;
      overflow: hidden;
    }
  }
  .container{
    max-width:892px;  
}
 
  .navimg {
    display: block;
  }
.logo{    
      background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logotype-sm-dark.svg);
      width: 114px;
      height: 18px;
    }

    .navbar{
      padding:0px 80px;
  }

  .nav-link {
    padding: 10px 0;
    text-align: center;
  }

  .nav-item {
    width: 100%;
    background: white;
  }
 
  
}
@include mobile(){
  .container{
       max-width:768px;
  }

  .navbar{
    padding:0px 20px;
}
  .content {
    padding: 0px;
  }
  
  
}
/*-------------footer-------------*/
/*-------------footer-form-------------*/

.email {
  margin-top: 60px;
  background: $primary-color;
}


.footer-inner {
  max-width: 800px;
  margin: 0 auto;
}

.email .footer-inner {
  display: flex;
  justify-content: space-between;
}

.subscribe {
  display: flex;
  align-items: center;

  h2 {
      color: $secondary-color;
      font-size:$font-m;
      margin-left: 20px;
  }
}

.emailform {
  display: flex;
  background: $secondary-color;
  align-items: center;
  margin: 30px 0;

  [type=email] {
      width:100%;
      padding: 15px 10px;
      background: $secondary-color;
      border: $secondary-color;
  }

  [type=image] {
      padding: 20px 24px;
      background: #FFE180;

      &:hover {
          background: #ffce31;
      }
  }
}

.mailicon {
  margin: 0 20px;
}

/*-------------footer-form RWD-------------*/

@include pad() {
  .footer-inner {
      width: 768px;

  }

  .email {
      margin-top: 0px;
  }

}

@include mobile() {
  .footer-inner {
      width: 375px;
    
  }

  .email .footer-inner {
      flex-direction: column;
      align-items: center;
      padding-top: 30px;

  }


}



/*-------------footer-information -------------*/

.information {
  background: $secondary-color;
  .footer-inner {
    display: flex;
    justify-content: space-between;
}
}

.contact {
  display: flex;
  flex-direction: column;
  img[alt="logo"] {
    margin: 38.9px 0 115.5px;
}
}


.service {
  color: $primary-color;
}

.website {
  margin: 30px 0;
  display: flex;
  li {
    margin-right: 8px;
}
}


.copyright {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  h2 {
    color: $primary-color;
    font-size: 23px;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    letter-spacing: 6px;
}
p {
  color: $primary-color;
  font-size:$font-s ;
}
}
