@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-------------tag setting-------------*/
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.2;
}

/*-------------class setting-------------*/
.container {
  max-width: 940px;
  margin: 0 auto;
}

/*-------------header setting-------------*/
.navimg {
  display: none;
  border: none;
  background: transparent;
}

.logo {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logo-all-dark.svg);
  display: block;
  width: 300px;
  height: 55.78px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  background-size: contain;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  position: relative;
}

.navbar .active {
  max-height: 200px;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 0px;
}

.navbar-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-cart {
  padding: 30px 0 30px 30px;
}

.navbar-cart:hover {
  opacity: 0.7;
}

.nav-item:hover {
  border-bottom: 4px solid #3F5D45;
}

.nav-link {
  color: #3F5D45;
  font-weight: bold;
  padding: 30px;
  display: block;
}

/*-------------header RWD-------------*/
@media (max-width: 992px) {
  .navbar {
    padding: 0px 20px 0px 20px;
  }
  .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    -webkit-transition: all 1.1s;
    transition: all 1.1s;
    overflow: hidden;
  }
  .container {
    max-width: 892px;
  }
  .navimg {
    display: block;
  }
  .logo {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logotype-sm-dark.svg);
    width: 114px;
    height: 18px;
  }
  .navbar {
    padding: 0px 80px;
  }
  .nav-link {
    padding: 10px 0;
    text-align: center;
  }
  .nav-item {
    width: 100%;
    background: white;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
  .navbar {
    padding: 0px 20px;
  }
  .content {
    padding: 0px;
  }
}

/*-------------footer-------------*/
/*-------------footer-form-------------*/
.email {
  margin-top: 60px;
  background: #3F5D45;
}

.footer-inner {
  max-width: 800px;
  margin: 0 auto;
}

.email .footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe h2 {
  color: #EAF0ED;
  font-size: 24px;
  margin-left: 20px;
}

.emailform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #EAF0ED;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

.emailform [type=email] {
  width: 100%;
  padding: 15px 10px;
  background: #EAF0ED;
  border: #EAF0ED;
}

.emailform [type=image] {
  padding: 20px 24px;
  background: #FFE180;
}

.emailform [type=image]:hover {
  background: #ffce31;
}

.mailicon {
  margin: 0 20px;
}

/*-------------footer-form RWD-------------*/
@media (max-width: 992px) {
  .footer-inner {
    width: 768px;
  }
  .email {
    margin-top: 0px;
  }
}

@media (max-width: 768px) {
  .footer-inner {
    width: 375px;
  }
  .email .footer-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 30px;
  }
}

/*-------------footer-information -------------*/
.information {
  background: #EAF0ED;
}

.information .footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact img[alt="logo"] {
  margin: 38.9px 0 115.5px;
}

.service {
  color: #3F5D45;
}

.website {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.website li {
  margin-right: 8px;
}

.copyright {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.copyright h2 {
  color: #3F5D45;
  font-size: 23px;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  letter-spacing: 6px;
}

.copyright p {
  color: #3F5D45;
  font-size: 16px;
}

/*-------------banner-------------*/
.banner {
  margin-bottom: 60px;
}

@media (max-width: 992px) {
  .banner {
    margin-bottom: 0px;
    margin: 0 auto;
    width: 100%;
  }
}

/*-------------Product-------------*/
.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*-------------商品左側-------------*/
.product-menu {
  width: 33%;
}

.product-menu h3 {
  font-size: 24px;
  color: #EAF0ED;
  background: #3F5D45;
  text-align: center;
  padding: 16px 0px 16px 0px;
  font-weight: bold;
}

.product-menu a {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #3F5D45;
  display: block;
  padding: 16px 0px 16px 0px;
}

.product-menu li {
  color: #3F5D45;
  font-size: 24px;
  text-align: center;
  border: 1px solid #EAF0ED;
}

.product-menu li:hover {
  background: #EAF0ED;
}

/* 商品右側 */
.product-list {
  width: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-list > li {
  position: relative;
  margin-bottom: 30px;
}

.special {
  position: absolute;
  left: 20px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  background: #3F5D45;
  color: #EAF0ED;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 10px;
}

.favorite {
  position: absolute;
  right: 22px;
  top: 19px;
}

.info {
  text-align: center;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #3F5D45;
}

.name {
  width: 58%;
  padding: 14px 0;
  border-left: 1px solid #EAF0ED;
}

.price {
  width: 42%;
  padding: 14px 0;
  border-left: 1px solid #EAF0ED;
  border-right: 1px solid #EAF0ED;
}

.addCart {
  display: block;
  background: #EAF0ED;
  color: #3F5D45;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  padding: 14px 0px 14px 0px;
}

.addCart:hover {
  background: #3F5D45;
  color: #EAF0ED;
}

/*-------------Product RWD-------------*/
@media (max-width: 992px) {
  .product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product-menu {
    width: 100%;
    margin-bottom: 30px;
  }
  .product-list {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

/* -------------pagenumber-------------*/
.pagenumber {
  margin-bottom: 30px;
}

.pagenumber ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagenumber a {
  text-align: center;
  width: 60px;
  height: 60px;
  border: solid 1px #EAF0ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #3F5D45;
}

.number:hover {
  background: #3F5D45;
  color: #EAF0ED;
}

.arrow:hover {
  background: #EAF0ED;
}

/*-------------pagenumber RWD-------------*/
@media (max-width: 992px) {
  .pagenumber ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 68px 80px 80px;
}

.content h2 {
  font-size: 36px;
  color: #EAF0ED;
}

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress .line {
  width: 67px;
  height: 1px;
  background: #EAF0ED;
}

.progress span {
  color: #EAF0ED;
  margin: 0 -2px 0 -2px;
}

.checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #3F5D45;
  width: 58%;
}

.checkout-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 40px 30px 40px;
}

.checkout-option {
  margin: 0px 40px 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkout-option li {
  width: 100%;
  border: 1px solid #EAF0ED;
}

.checkout-option a {
  display: block;
  text-align: center;
  font-size: 20px;
  padding: 14px 0 14px 0px;
  color: #EAF0ED;
}

.checkout-option a:hover {
  text-decoration: underline;
}

.checkout-option a.checked {
  background-color: #EAF0ED;
  color: #3F5D45;
}

.checkout-form {
  margin: 0px 40px 0 40px;
}

.checkout-form li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.checkout-form label {
  margin-bottom: 8px;
  font-size: 20px;
  color: #EAF0ED;
}

.checkout-form input {
  margin-bottom: 16px;
  padding: 17px 20px 17px 20px;
  background: #EAF0ED;
  border: none;
}

.checkout-form span {
  color: #3F5D45;
}

.checkout-form-deadline, .checkout-form-backnumber, .checkout-form-name, .checkout-form-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checkout-form-deadline input, .checkout-form-backnumber input, .checkout-form-name input, .checkout-form-address input {
  width: 36%;
}

.checkout-form-deadline, .checkout-form-address {
  position: relative;
}

.checkout-form-deadline .montharrowup, .checkout-form-address .montharrowup {
  position: absolute;
  top: 8px;
  left: 35%;
}

.checkout-form-deadline .montharrowdown, .checkout-form-address .montharrowdown {
  position: absolute;
  top: 16px;
  left: 35%;
}

.checkout-form-deadline .yeararrowup, .checkout-form-address .yeararrowup {
  position: absolute;
  top: 8px;
  right: 20px;
}

.checkout-form-deadline .yeararrowdown, .checkout-form-address .yeararrowdown {
  position: absolute;
  top: 16px;
  right: 20px;
}

.checkout-form-deadline span:hover, .checkout-form-address span:hover {
  color: #8DA291;
}

.checkout-form-name-label {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checkout-form-address-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checkout-form-address-label span {
  color: #EAF0ED;
  font-size: 16px;
}

.checkout-form-creditnumber {
  position: relative;
}

.checkout-form-creditnumber span {
  position: absolute;
  top: 50px;
  right: 22px;
}

.checkout [type="submit"] {
  margin-top: 14px;
  border: none;
  background: #FFE180;
  font-size: 24px;
  width: 100%;
}

.checkout [type="submit"]:hover {
  background: #fcd556;
}

.checkout [type="submit"] a {
  display: block;
  padding: 19px 0 13px 0px;
  color: #3F5D45;
}

.order {
  border: 1px solid #EAF0ED;
  width: 40%;
  color: #8DA291;
}

.order-sum h3 {
  font-size: 24px;
  padding: 16px 0 16px 0;
  text-align: center;
  width: 100%;
  background: #EAF0ED;
  font-weight: bold;
}

.order-sum ul {
  padding: 16px 20px 16px 20px;
}

.order-sum li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px;
}

.order-sum li:nth-child(3) {
  font-size: 20px;
  font-weight: bold;
  margin-top: 16px;
}

.order-list h3 {
  font-size: 24px;
  padding: 16px 0 16px 0;
  text-align: center;
  width: 100%;
  background: #EAF0ED;
  font-weight: bold;
}

.order-list ul {
  padding: 16px 16px 0 16px;
}

.order-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.order-list img {
  width: 120px;
}

.order-list .text {
  margin-left: 20px;
}

.order-list .text h4 {
  font-size: 16px;
  margin-bottom: 2px;
}

.order-list .text span {
  font-size: 20px;
}

.order-list li:nth-child(1),
.order-list li:nth-child(2) {
  overflow: hidden;
}

.order-list li:nth-child(1) img,
.order-list li:nth-child(2) img {
  margin: -40px 0 -40px 0;
}

.checkout-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(https://bit.ly/2P7GhNd);
  background-repeat: no-repeat;
  background-size: 940px;
  height: 460px;
}

.checkout-banner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout-banner-text .progress {
  margin-bottom: 50px;
}

.checkout-banner-text .progress .line {
  background: #3F5D45;
}

.checkout-banner-text .progress span {
  color: #3F5D45;
}

.checkout-banner-text a {
  text-align: center;
  background: #FFE180;
  font-size: 24px;
  display: block;
  padding: 15px 100px;
  color: #3F5D45;
}

.checkout-banner-text a:hover {
  background: #fcd556;
}

.checkout-banner-text img {
  margin-bottom: 50px;
  width: 189px;
}

.checkout-banner-text-mobile {
  display: none;
}

.checkout-banner-text-mobile a {
  text-align: center;
  background: #FFE180;
  font-size: 24px;
  display: block;
  padding: 15px 100px;
  color: #3F5D45;
}

.checkout-banner-text-mobile a:hover {
  background: #fcd556;
}

/*-------------checkout RWD-------------*/
@media (max-width: 992px) {
  .checkout-form {
    margin: 0px 20px 0 20px;
  }
}

@media (max-width: 768px) {
  .order {
    display: none;
  }
  .content {
    padding: 0px;
  }
  .checkout {
    width: 100%;
  }
  .checkout-form {
    margin: 0px 30px 0 30px;
  }
  .checkout-banner {
    height: 518px;
  }
  .checkout-banner-text a {
    display: none;
  }
  .checkout-banner-text-mobile {
    display: block;
  }
}
/*# sourceMappingURL=all.css.map */