.container{
    width:  940px;
    margin-left:auto;
    margin-right:auto;   
    padding-top:30px;
}
.header{
  display:flex;
  justify-content:space-between;
}
.header-bar {
  display:flex;
  align-items:center;
  justify-content:space-between;
  width:263px;
}
.header-bar a{
  text-decoration: none;
  font-size:16px;
  font-weight:bold;
  color:#3F5D45;
}
.content{
  padding-top:36.5px;
   
}
.product{
  display:flex;
  margin-top:60px;
  justify-content:space-between;
}

.aside ul{
  width: 300px;
  border:1px solid #EAF0ED;
  
}
.aside a{
  text-decoration: none;
  font-size:24px;
  color:#3F5D45;
}
.aside li{
  color:#3F5D45;
  font-size:24px;
  padding:16px 0px 16px 0px;
  text-align:center;
  border-top:1px solid #EAF0ED;
}


.aside li:nth-of-type(1){
  background:#3F5D45;
  color:#FFFFFF;
}

.aside li:nth-of-type(2){
  background:#EAF0ED;
  color:#FFFFFF;
}


.product-list ul{
  
  display:flex;
  flex-wrap:wrap;
  
}
.productCard-text{
  display:flex;
  width:300px;
  color:#3F5D45;
  justify-content:space-around;
  font-weight:bold;
  text-size:20px;
  line-height:28px;
  padding:14px 0px 14px 0px;
}
.addCart{
  display:block;
  width:300px;
  background:#EAF0ED;
  color:#3F5D45;
  text-decoration:none;
  text-align:center;
  font-weight:bold;
  text-size:24px;
  line-height:33px;
  padding:14px 0px 14px 0px;
}

