/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------css reset end-------------*/


body{
  font-family:PingFang TC;
}
img{
  display:block;
  max-width:100%;
  height:auto;
}
.container{
    max-width:  940px;
    margin:0 auto;
}

/*-------------header-------------*/
.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin:30px 0 30px;
}
.pclogo{
background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logo-all-dark.svg);
  display: block;
  width: 300px;
  height: 55.78px;
  text-indent: 101%; 
  overflow: hidden;
  white-space: nowrap;
background-size: contain;
}
.mobilelogo{
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logotype-sm-dark.svg);
  display: block;
  width: 114px;
  height: 18px;
  text-indent: 101%; 
  overflow: hidden;
  white-space: nowrap;
background-size: contain;
}
.header-bar {
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-left: 200px;

}
.header-bar a{
  text-decoration: none;
  padding:0 15px 0 15px;
  margin-left:30px;
  font-size:16px;
  font-weight:bold;
  color:#3F5D45;
  line-height:70px;
  display:block;
}
.header-bar a:hover{
  text-decoration: underline;
}
.mobilelogo,.navimg{ 
    display:none;
}
/*手機版才出現*/
/*-------------header container RWD-------------*/
@media(max-width:992px){
    .container{
        max-width:892px;
        
    }
     .banner{
        margin: 0 auto;
        width:768px;
    }  
}
@media(max-width:768px){
    .container{
         max-width:375px;
    }
    .banner{
        width:375px;
    }  
    .header-bar{
        display:none;
    }
    .header{
        justify-content: space-around;
    }  
    .pclogo{    
        display:none;
    }
   .mobilelogo{
        display:block;
    }
      .navimg{
       display:block ;
    }
}



/*-------------Product-------------*/
/*-------------商品全部-------------*/
.product{
  margin-top:60px;
  display:flex;
  justify-content:space-between;
}

/*-------------商品左側-------------*/
.product-menu {
  width: 33%; 
}
.product-menu  h3{
  font-size:24px;
  color:#EAF0ED;
  background:#3F5D45;
  text-align:center;
  padding:16px 0px 16px 0px;
  font-weight:bold;
}
.product-menu a{
  text-decoration: none;
  font-size:24px;
  font-weight:bold;
  color:#3F5D45;
  display:block;
  padding:16px 0px 16px 0px;
}
.product-menu li{
  color:#3F5D45;
  font-size:24px;
  text-align:center;
  border:1px solid #EAF0ED;
}
.product-menu li:hover{
  background:#EAF0ED;
}

/* 商品右側 */

.product-list { 
   width:66%;
   display:flex;
   flex-wrap:wrap;
   justify-content:space-between;  
}
.product-list>li{
    position: relative;
    margin-bottom:20px;
}
.special{
    position: absolute;
    left: 20px;
    writing-mode: vertical-lr;
    background: #3F5D45;
    color: #EAF0ED;
    font-style: 16px;
    line-height: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 10px;
}
.favorite{
    position: absolute;
    right: 22px;
    top: 19px;
}
.info{
    text-align: center;
    font-size: 20px;
    display: flex;
    color: #3F5D45;
}
.name{
    width: 58%;
    padding: 14px 0;
    border-left: 1px solid #EAF0ED;
}
.price{
    width: 42%;
    padding: 14px 0;
    border-left: 1px solid #EAF0ED;
    border-right: 1px solid #EAF0ED;
}
.addCart{
  display:block;
  background:#EAF0ED;
  color:#3F5D45;
  text-decoration:none;
  text-align:center;
  font-weight:bold;
  font-size:24px;
  line-height:33px;
  padding:14px 0px 14px 0px;
}
.addCart:hover{
   background:#3F5D45;
    color: #EAF0ED;
}
/*-------------Product RWD-------------*/
@media(max-width:992px){
    .product{
        margin-top:0px;
        flex-direction: column;
        align-items:center;
    }
    .product-menu {
      width: 100%; 
    }
    .product-list{
        width:100%;
         justify-content:space-around;  
    }
   
}
/* -------------pagenumber-------------*/
.pagenumber ul{
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
.pagenumber a{
   text-align:center;
   width: 60px;
   height: 60px;
   border: solid 1px #EAF0ED;
   display:flex;
   justify-content:center;
   align-items:center;
   text-decoration:none;
   color: #3F5D45;
  
}
.number:hover{
   background:#3F5D45;
   color:#EAF0ED;
}
.arrow:hover{
   background:#EAF0ED;
}
/*-------------pagenumber RWD-------------*/
@media(max-width:992px){
    .pagenumber ul{
       justify-content: center;
        }
    }
/*-------------footer-form-------------*/
/*email最外層*/
.email{
  margin-top:60px;
  background:#3F5D45;
}
/*email container：置中、設置寬度*/
.footer-inner{
  width:940px;
  margin:0 auto;
}
.email .footer-inner{
  display:flex;
  justify-content:space-between;
}
.subscribe{
  display:flex;
  align-items:center;
}
.subscribe h2{
  color:#EAF0ED;
  font-size:24px;
  line-height:29px;
  margin-left:20px;
}
.emailform{
  display:flex;
  background:#EAF0ED;
  align-items:center;
  margin:30px 0 30px;
}
.emailform [type=email]{
  width:252px;
  background:#EAF0ED;
  border:#EAF0ED;
}
.mailicon{
  margin:0 20px 0 20px;
}
.emailform [type=image]{
  padding:20px 24px 20px 24px;
  background:#FFE180; 
}
.emailform [type=image]:hover{
  background:#ffce31; 
}
/*-------------footer-form RWD-------------*/

@media(max-width:992px){
    .footer-inner{
        width:768px;
    }
    .email{
        margin-top:30px;
    }
     
}
@media(max-width:768px){
    .footer-inner{
         width:375px;
    }
        .email .footer-inner{
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
       
    }
    
   
}



/*-------------footer-information -------------*/

.information .footer-inner{
  display:flex;
  justify-content:space-between;
}
.information{
      background:#EAF0ED;
}
.contact{
  display:flex;
  flex-direction:column;
}
.contact img[alt="logo"]{
  margin: 38.9px 0 115.5px;
}
.service{
  color:#3F5D45;
  line-height:24px;
}
.website{
  margin: 30px 0 30px;
  display:flex;
  
}
.website li{
  margin-right:8px;
}
.copyright{
  margin-top:30px;
  display:flex;
  flex-direction:column;
}
.copyright h2{
  color:#3F5D45;
  font-size:23px;
  line-height:30px;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  letter-spacing:6px;
}
.copyright p{
  color:#3F5D45;
  font-size:16px;
  line-height:19px;
}
@media(max-width:768px){
.information .footer-inner{
  flex-direction: column;
    }
.contact img[alt="logo"]{
  margin: 38.9px 0 40px;
        }
.copyright{
  margin-top:0px;
    }
.copyright h2{
  display:none;
    
    }
}
    
    

